<div class="d-flex flex-column h-100">
  <div class="m-4 align-items-center">
    <div class="d-flex gap-3 justify-content-end">
      <div class="flex-grow-1">
        <h5>Import Employee</h5>
      </div>
      <div class="col-3">
        <input
          class="form-control ml-3"
          type="file"
          accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
          (change)="onFileChange($event)"
          accept=".xlsx, .xls, .csv"
          id="contact-list-sheet"
          #myFileInput
          name="myfile"
        />
      </div>

      <div>
        <button
          mat-mini-fab
          data-toggle="tooltip"
          [title]="'Reset'"
          id="ContactResetButton"
          (click)="myFileInput.value = ''; onClickReset()"
          [disabled]="importEmployeeSheet.length == 0"
          class="cancelbtn mx-3 px-3"
        >
          <span class="material-icons">Reset</span>
        </button>
      </div>
      <div>
        <button
          class="createbtn px-2 border"
          aria-hidden="true"
          data-toggle="tooltip"
          [title]="'Upload'"
          (click)="importEmployee()"
          *ngIf="!nonExistRoute && importEmployee_dataset.length > 0"
        >
          <span class="fa fa-download" id="importsource"> </span>
        </button>
      </div>
    </div>
  </div>
  <div id="source-container" class="flex-grow-1 mx-3 mt-3">
    <angular-slickgrid
      gridId="Sourcegrid"
      [columnDefinitions]="importEmployee_columnDefinitions"
      [gridOptions]="importEmployee_gridOptions"
      [dataset]="importEmployee_dataset"
      (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"
      (sgOnCellChange)="
        onImportSourceListGridCellChanged(
          $event.detail.eventData,
          $event.detail.args
        )
      "
      (onAngularGridCreated)="ImportSourceListGridReady($event.detail)"
    >
    </angular-slickgrid>
  </div>
</div>
