.bg-blue {
    background-color: #004f8e ;
  }
  .shadow-custom {
    border: black;
    border-radius: 10px;
    box-shadow: 3px 3px 3px black;
  }

  
.title-border-radius{
    border-radius: 10px;
    box-shadow: 2px 2px 2px black;
  
  
  }