
<form
  #resetPasswordForm="ngForm"
  class="h-100 d-flex flex-column pt-1"
  (ngSubmit)="resetPasswordForm.form.valid && save(resetPasswordForm)"
>
  <div class="bg-blue py-1">
    <div class="col-12">
      <div
        class="col-lg-12 d-flex flex-row px-2 align-items-center border-bottom border-primary shadow-custom bg-white"
      >
        <p class="ps-3 h5 fw-bold">
          {{ "Reset Password" | translate }}
        </p>

        <button
          mat-mini-fab
          data-toggle="tooltip"
          [title]="'GLOBAL.SAVE' | translate"
          id="ContactSaveButton"
          type="submit"
          class="m-3 ms-auto align-items-center px-4"
          [disabled]="!resetPasswordForm.dirty"
          [ngClass]="!resetPasswordForm.dirty ? 'disablebtn' : 'savebtn'"
        >
          {{ "GLOBAL.SAVE" | translate }} 
        </button>

        <!-- <button
          *ngIf="!check_password"
          mat-mini-fab
          data-toggle="tooltip"
          type="button"
          (click)="resetPasswordForm.form.valid && checkPassword()"
          [title]="'continue' | translate"
          id="ContactContinueButton"
          class="m-3 ms-auto align-items-center px-4"
          [disabled]="!resetPasswordForm.dirty"
          [ngClass]="!resetPasswordForm.dirty ? 'disablebtn' : 'savebtn'"
        >
          {{ "Continue" | translate }}
        </button> -->
      </div>
    </div>
  </div>
  <div class="bg-blue flex-grow-1 pt-1 pb-2" style="height: 0px">
    <div class="bg-white shadow-custom h-100 overflow-auto">
      <div
        class="row p-1 mx-3 m-3 d-flex align-items-start justify-content-start"
      >
        <div class="col-lg-4 col-xl-4 col-md-12 col-sm-12 col-xs-12 px-1 py-1">
          <div class="pt-1">
            <div
              class="title-border-radius fw-bold py-1 mb-1 ps-3 text-white"
              style="background-color: #004f8e "
            >
              {{ "Reset Password" | translate }}
            </div>
          </div>
          <div class="py-1">
            <label
              class="customfont mat-body-strong fw-bold pb-1 ps-2"
              style="color: #004f8e "
              >{{ "Old password" | translate }}
              <span style="color: red">*</span></label
            >
            <div class="input-group">
              <input
                name="oldPassword"
                [type]="hide_old_password ? 'password' : 'text'"
                data-toggle="oldPassword"
                class="form-control"
                id="employeeMergePasswordInput"
                #oldPassword="ngModel"
                aria-describedby="oldPassword"
                required
                [ngClass]="{
                  'is-invalid':
                    resetPasswordForm.submitted && oldPassword.invalid
                }"
                [(ngModel)]="Password"
              />
              <span
                class="hide-password-icon input-group-text"
                id="basic-addon1"
                ><i
                  *ngIf="hide_old_password"
                  [ngClass]="{ 'highlight-password-icon': !hide_old_password }"
                  class="fa fa-eye-slash"
                  id="show_eye_three"
                  (mouseup)="showOldPassword(false)"
                  (mousedown)="showOldPassword(true)"
                  aria-hidden="true"
                  style="color: #004f8e "
                ></i>

                <i
                  *ngIf="!hide_old_password"
                  [ngClass]="{ 'highlight-password-icon': !hide_old_password }"
                  class="fa fa-eye fa-xs"
                  id="show_eye_three"
                  (mouseup)="showOldPassword(false)"
                  (mousedown)="showOldPassword(true)"
                  aria-hidden="true"
                  style="color: #004f8e "
                ></i>
              </span>

              <div
                class="invalid-feedback"
                *ngIf="resetPasswordForm.submitted && oldPassword.invalid"
              >
                <p style="color: red" *ngIf="oldPassword.errors.required">
                  Password is required
                </p>
              </div>
            </div>
          </div>

          
          <div>
            <div class="py-1">
              <label
                class="customfont mat-body-strong fw-bold pb-1 ps-2"
                style="color: #004f8e "
                >{{ "New password" | translate }} 
                <span style="color: red">*</span></label
              >
              <div class="input-group">
                <input
                  name="password"
                  [type]="hide_password ? 'password' : 'text'"
                  data-toggle="password"
                  class="form-control"
                  id="employeeMergePasswordInput"
                  #password="ngModel"
                  aria-describedby="password"
                  required
                  [ngClass]="{
                    'is-invalid':
                      resetPasswordForm.submitted && password.invalid
                  }"
                  [(ngModel)]="newpassword"
                />
                <span
                  class="hide-password-icon input-group-text"
                  id="basic-addon1"
                  ><i
                    *ngIf="hide_password"
                    [ngClass]="{ 'highlight-password-icon': !hide_password }"
                    class="fa fa-eye-slash"
                    id="show_eye_one"
                    (mouseup)="showPassword(false)"
                    (mousedown)="showPassword(true)"
                    aria-hidden="true"
                    style="color: #004f8e "
                  ></i>

                  <i
                    *ngIf="!hide_password"
                    [ngClass]="{ 'highlight-password-icon': !hide_password }"
                    class="fa fa-eye fa-xs"
                    id="show_eye_one"
                    (mouseup)="showPassword(false)"
                    (mousedown)="showPassword(true)"
                    aria-hidden="true"
                    style="color: #004f8e "
                  ></i>
                </span>

               

                <div
                class="invalid-feedback"
                *ngIf="resetPasswordForm.submitted && Password == newpassword"
              >
              <p style="color: red" >
                Old password and New password cannot be same
              </p>
              </div>

                <div
                  class="invalid-feedback"
                  *ngIf="resetPasswordForm.submitted && password.invalid"
                >
                  <p style="color: red" *ngIf="password.errors.required">
                    Password is required
                  </p>
                </div>

                <!-- <div
                class="invalid-feedback"
                *ngIf="resetPasswordForm.submitted && password.invalid && Password == newpassword"
              >
                <p style="color: red">Old password and New password cannot be same</p>
              </div> -->
              </div>
            </div>

            <div class="py-1">
              <label
                class="customfont mat-body-strong fw-bold pb-1 ps-2"
                style="color: #004f8e "
                >{{ "USERMERGE.CONFIRM" | translate }}
                <span style="color: red">*</span>
              </label>
              <div class="input-group">
                <input
                  name="confirmPassword"
                  [type]="hide_confirm_password ? 'password' : 'text'"
                  class="form-control"
                  id="employeeMergeConfirmPasswordInput"
                  #confirmPassword="ngModel"
                  aria-describedby="confirmPassword"
                  required
                  [ngClass]="{
                    'is-invalid':
                      resetPasswordForm.submitted && confirmPassword.invalid
                  }"
                  [(ngModel)]="confirm_password"
                  [customValidator]="validator_service.formConfirmPassword"
                />
                <span
                  class="hide-password-icon input-group-text"
                  id="basic-addon2"
                  ><i
                    *ngIf="hide_confirm_password"
                    [ngClass]="{
                      'highlight-password-icon': !hide_confirm_password
                    }"
                    class="fa fa-eye-slash"
                    id="show_eye_one"
                    (mouseup)="showConfirmPassword(false)"
                    (mousedown)="showConfirmPassword(true)"
                    aria-hidden="true"
                    style="color: #004f8e "
                  ></i>

                  <i
                    *ngIf="!hide_confirm_password"
                    [ngClass]="{
                      'highlight-password-icon': !hide_confirm_password
                    }"
                    class="fa fa-eye fa-xs"
                    id="show_eye_two"
                    (mouseup)="showConfirmPassword(false)"
                    (mousedown)="showConfirmPassword(true)"
                    aria-hidden="true"
                    style="color: #004f8e "
                  ></i
                ></span>

                <div
                  class="invalid-feedback"
                  *ngIf="resetPasswordForm.submitted && confirmPassword.invalid"
                >
                  <p style="color: red" *ngIf="confirmPassword.errors.required">
                    Confirm password is required
                  </p>
                </div>
                <div
                  class="invalid-feedback"
                  *ngIf="
                    resetPasswordForm.submitted &&
                    newpassword != confirm_password
                    && confirm_password != ''
                  "
                >
                  <p style="color: red">Password mismatch</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
