<!-- <div class="d-flex flex-row mh-100">
  <div class="col-6">
    <div>
      <h1 class="text-primary p-5">{{ "LOGIN.TITLE" | translate }}</h1>
    </div>

    <img
      src="../../../../assets/icons/l.svg"
      style="object-fit: contain; width: 80%"
    />
  </div>
  <div class="col-6"> -->
    <!-- <img
      src="../../../../assets/icons/common.svg"
      class="img-thumbnail; posi"
      style="object-fit: contain; position: fixed"
    /> -->

    <!-- <form class="login">
      <input type="email" placeholder="email" />
      <button>send OTP</button>
    </form>

    
  </div>
</div> -->

<!-- 
<div class = "container-fluid h-100 bg-blue">

  <div class = "row h-100 d-flex justify-content-center align-items-center ">
    <div class = "col-4 bg-white p-5 shadow-custom" id="rcorners1">
      <div class = "col col-md-12 " style="color: #004f8e ;">
      <form formGroup="ForgetPasswordForm">
        
        <div class = "h3"> Reset Password </div>
        <div class="input-group my-4" style="height: 40px;">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true" style="color: #004f8e ;"></i></span>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email or Username"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
          </div> 
           

          <div class = "text-end">
          

          <button
          id="forgetPasswordButton"
          style="cursor: pointer"
          class="btn btn-outline-info"
          style="color: #004f8e ; width: 100%;"
          
        >
        Get OTP
        </button>
        </div>
      </form>


    </div>
    </div> 
  </div>

</div> -->


<!-- <div class="h-100 bg-blue">
  <div class="container-fluid p-5 h-100">
    <div class="row h-100 d-flex">
      <div class = "col p-5">
      <div class="shadow-custom col-12 ps-5 pe-0 py-5 bg-white" id="rcorners1"  style="color: #004f8e ; border: black;">
        <div
       class="h1">{{ "LOGIN.TITLEONE" | translate }} <br>
       {{"LOGIN.TITLETWO" | translate}}
    </div>

    <img
    class = "py-5 ps-5"
      src="../../../../assets/icons/signup.svg"
      style="object-fit: contain; width: 77.65%"
    />
        </div>

        
      </div>
      <div
        class="col bg-blue ps-5 d-flex flex-row align-items-center justify-content-center text-white " 
      >

      
      <form [formGroup]="loginForm" class="col px-5 text-white" (ngSubmit)="onSubmit()" >
        <div class = "h3"> Reset Password </div>
      
        <div class="input-group my-4" style="height: 40px;">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true" style="color: #004f8e ;"></i></span>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email or Username"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
          </div> 
           

          <div class = "text-end">
          

          <button
          id="forgetPasswordButton"
          style="cursor: pointer"
          class="btn btn-outline-info text-white"
          
          
        >
        Get OTP
        </button>
        </div>
  
      </form>
    </div>
  </div>
</div>
</div> -->




<div class = "container-fluid bg-blue d-flex align-items-center justify-content-center h-100">
  <div class = "row">
    <div class = "col d-flex align-items-center justify-content-center">
      <div class = "col-12 bg-white shadow-custom p-5">
        <div class="h1">
          {{ "LOGIN.TITLEONE" | translate }} <br />
          {{ "LOGIN.TITLETWO" | translate }}
        </div>
        <img
          class=""
          src="../../../../assets/icons/lll.svg"
          style="object-fit: contain; width: 80%"
        />

      </div>
    </div>
    <div class = "col d-flex align-items-center justify-content-center">
      <div class = "col col-md-12 p-5">
      <form [formGroup]="loginForm" class="col" (ngSubmit)="onSubmit()" >
        <div class = "h3 text-white"> Reset Password </div>
        <div class="input-group my-4">
          <span class="input-group-text" id="basic-addon1"><i class="fa fa-user-circle-o" aria-hidden="true" style="color: #004f8e ;"></i></span>
          <input
            type="text"
            class="form-control"
            formControlName="email"
            placeholder="Email or Username"
            aria-label="email"
            aria-describedby="basic-addon1"
          />
          </div> 
           

          <div class = "text-end">
          

          <button
          id="forgetPasswordButton"
          style="cursor: pointer"
          class="btn btn-outline-info text-white"
          
          
        >
        Get OTP
        </button>
        </div>



      </form>
    </div>

    </div>
  </div>
</div>