body {
    color: #fff;
    background: #d47677;
}
.form-control {
    // min-height: 20px;
    background: #fff;
    box-shadow: none !important;
    border-color: #e3e3e3;
}
.form-control:focus {
    border-color: #70c5c0;
}
.form-control, .btn {        
    border-radius: 2px;
}
.login-form {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    // padding: 100px 0 30px;		
}
.login-form form {
    color: white;
    // border-radius: 25px;
    // margin-bottom: 15px;
    font-size: 18px;
    background: #004f8e ;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;	
    position: relative;	
}
.login-form h2 {
    font-size: 22px;
    margin: 35px 0 5px;
}

.login-form input[type="checkbox"] {
    margin-top: 2px;
}
.login-form .btn {        
    font-size: 16px;
    font-weight: bold;
    background:  #d47677;
    border: none;
    margin-bottom: 20px;
    margin-top: 20px;
}
.login-form .btn:hover, .login-form .btn:focus {
    background: #70c5c0;
    outline: none !important;
}    
.login-form a {
    color: #fff;
    text-decoration: underline;
}
.login-form a:hover {
    text-decoration: none;
}
.login-form form a {
    color: #7a7a7a;
    text-decoration: none;
}
.login-form form a:hover {
    text-decoration: underline;
}
.error{
    color: red;
    width: unset !important;
    font-size: 14px;
}


.bg-blue {
    background-color: #004f8e ;
    
  }

  .bg-paleblue{
    background-color: #97b2de;
  }

  #rcorners1 {
    border-radius: 10px;

  
  }


  .shadow-custom {
    border-radius: 20px;
    box-shadow: 5px 5px 10px black;

  }

 