<div class="h-100 d-flex flex-column px-3">
  <div class="d-flex">
    <div class="d-flex ms-auto my-3 align-items-center">
      <button
        *ngIf="selected_invoices.length > 0"
        mat-mini-fab
        (click)="onBulkDelete()"
        data-toggle="tooltip"
        [title]="'Delete Contact'"
        id="ContactDeleteButton"
        class="btn btn-danger align-items-center p-2"
      >
        <span class="material-icons">delete</span>
      </button>

      <button
        mat-mini-fab
        (click)="goToInvoiceMerge()"
        data-toggle="tooltip"
        id="ContactAddButton"
        class="createbtn align-items-center p-2 border"
        [title]="'Create Contact'"
      >
        <i class="fa fa-user-plus" aria-hidden="true"></i>

        {{ "Create Invoice" }}
      </button>
    </div>
  </div>

  <div id="invoice-grid1-container" class="flex-grow-1">
    <angular-slickgrid
      gridId="invoice_list_grid1"
      [columnDefinitions]="invoice_list_columnDefinitions"
      [gridOptions]="invoice_list_gridOptions"
      [dataset]="invoice_list_dataset"
      (onSelectedRowsChanged)="handleSelectedRowsChanged($event)"
      (sgOnCellChange)="
        onContactListGridCellChanged(
          $event.detail.eventData,
          $event.detail.args
        )
      "
      (onAngularGridCreated)="contactListGridReady($event.detail)"
    >
    </angular-slickgrid>
  </div>
</div>
