.bg-blue {
  background-color: #004f8e ;
}
.shadow-custom {
  border: black;
  border-radius: 10px;
  box-shadow: 3px 3px 3px black;
}
.active {
  background-color: #004f8e ;
  color: white;

  border-left-color: #FF9F29;
  border-left-style: solid;
  border-width: 8px;
  border-top: black;
}

.logoutbtn {
  // width: 100%;
  height: 35px;
  color: #ffffff;
  border: none;
  font-family: inherit;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.logoutbtn:hover {
  --_p: 0%;
}

@keyframes active {
  from {
    transform: translateY(1px);
  }

  to {
    transform: translateY(2px);
  }
}

.logoutbtn:active {
  animation: active 1s 1;
  transition: all 0.1s;
}

.logoutbtn {
  background: linear-gradient(90deg, #004f8e  50%, #FF9F29 0) var(--_p, 100%) /
    200% no-repeat;
  transition: 0.4s;
}

.logoutbtn:hover {
  color: #FF9F29;
}
